# 4 - Feature Construction

## Introduction:

This project will primarily focus on working with categorical data to build new features into the dataset so that the models employed will be able to learn from them. The idea is to introduce and construct features that are useful to improve the model's performance over the baseline.


## Breakdown of this Project:
- Examining the Dataset
- Applying imputation techniques to categorical features.
- Applying encoding techniques to categorical variables.
- Extending numerical features.
- Text-specific feature construction.


## Requirements:

## 1 - Taking a look at the Dataset:

The dataset here will be self-created to show a variety of data leels and types.

In this section, the Pandas Dataframe with its attributes and methods will be used on the dataset.

In [1]:
# Import the Required Libraries:
import pandas as pd

In [2]:
# Set up the Dataset:
X_data = pd.DataFrame({'city':['tokyo', None, 'london', 'seattle', 'san francisco', 'tokyo'],
                       'boolean':['yes', 'no', None, 'no', 'no', 'yes'], 
                       'ordinal_column':['somewhat like', 'like', 'somewhat like', 'like', 'somewhat like', 'dislike'], 
                       'quantitative_column':[1, 11, -.5, 10, None, 20]})

In [3]:
X_data.head()

            city boolean ordinal_column  quantitative_column
0          tokyo     yes  somewhat like                  1.0
1           None      no           like                 11.0
2         london    None  somewhat like                 -0.5
3        seattle      no           like                 10.0
4  san francisco      no  somewhat like                  NaN

From the above, the table consists of several columns that are:
- boolen, is a binary categorical data (e.g. yes or no) and this is at the nominal level.
- city, is categorical data and is at the nominal level.
- ordinal_column, is a column of ordinal data and at an ordinal level.
- quantitative_column, contains integers that are at the ratio level.

## 2 - Peform Imputation on the Categorical Features:

With the understanding of the dataset outlined above, this section will go through the imputation process.

### 2.1 - Dealing with Missing Values:

In [4]:
# Find missing values in the dataset:
X_data.isnull().sum()

city                   1
boolean                1
ordinal_column         0
quantitative_column    1
dtype: int64

The output shows that there are 3 missing values in the stated columns. These value will require imputation.

Next, a custom transformer will be implemented, where it is a method that will impute the missing values in a column.

#### For the "City" Column:

As mentioned, this column is categorical, which means the imputation strategy is fill the missing with the most common category.

In [5]:
# Find the most common category in this column:
X_data['city'].value_counts().index[0]

'tokyo'

Here, Tokyo was the most frequent. Next is to impute the missing row.

In [6]:
X_data['city'].fillna(value=X_data['city'].value_counts().index[0])

0            tokyo
1            tokyo
2           london
3          seattle
4    san francisco
5            tokyo
Name: city, dtype: object

Now that the imputation worked nicely, the next part would be to fix the remaining categorical columns. To do this, a custom imputer will be made.

### 2.2 -  Build Custom Imputer:


#### Custom Category Imputer: